.home {
    flex: 1;
    align-self: flex-start;
    margin-top: 20vh;
    margin-left: 20vw;
    position: relative;
}
.home > h1 {
    margin: 0;
    margin-bottom: 10vh;
    margin-left: 25px;
    font-size: 2.6rem;
    color: #ffffff;
}
.home > h2 {
    margin: 0;
    margin-left: 20px;
    color: #003459;
    font-size: 2rem;
}
.home > a {
    text-decoration: none;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 10px 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #003459;
    color: white;
    font-weight: 400;
    font-size: 1.7rem;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    margin-left: 20px;
    margin-top: 25px;
}
.home > a:hover {
    background: #005897d8;
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
